.menu-img {
  width: 100%; }

.h-menu-title {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  text-align: center !important;
  font-weight: 400;
  font-size: 36px; }

.p-dish {
  font-family: "Playfair Display";
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 50px;
  font-size: 20px; }

.p-dish-descr {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 17px;
  line-height: 1.5; }

.tr-menu {
  margin-left: 3em; }
