@import "../helpers/colors.scss";
.top-nav {
    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            position: relative;
            list-style: none;
            a {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: $white;
                font-weight: 500px;
                letter-spacing: 3px;
                padding: 10px;
                &:hover {
                    background: rgba(255, 255, 255, 0.667);
                    color: $black;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}